.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.grid > span {
  padding: 8px 4px;
  border-left: 1px solid black; 
  border-bottom: 1px solid black;
}

/* 2nd board  */
.game-board
{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  
}

.box
{
  border: 6px solid #0ae79e;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster';
}

/* button */
#my-button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#50e2bb;
	border-radius:5px;
	border:3px solid #0ae79e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #44e0cc;
	margin-bottom: 10px;
	width: 200px;        
}
#my-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#2bb899;
}
#my-button:active {
	position:relative;
	top:1px;
}
.parent-container {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}
.board-msg-btn {
	width: 200px;
	margin-left: 170px;
	font-family: 'Lobster';
	/* height: 50px;
	padding: 10px; */
}